*{
    margin: 0;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    position: relative;
    
}
img{
    width: 300px;
}

nav{
    width: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav ul li{
    display: inline-block;
    margin: 5px;
    font-size: 20px;
    margin: 30px;
}

nav ul li a{
    list-style: none;
}